;; shadow-cljs configuration
{
  :nrepl {:port 8777}

  :dependencies [
                [reagent "1.1.1"]
                [cljs-http "0.1.46"]
                [re-frame "1.2.0"]
                [cider/cider-nrepl "0.28.3"]
                [com.wsscode/pathom3 "2021.07.10-1-alpha"]
                [funcool/promesa "8.0.446"]
                [edn-query-language/eql "2021.07.18"]
                [com.fulcrologic/fulcro "3.5.9"]
                ]


 ;; TODO: how does this work?
 :source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dev-http {8080 "public"}
 :builds
 {:frontend {:target :browser
             :modules  {:main {:init-fn configurator.frontend.app/init}}
             :devtools {:after-load configurator.frontend.app/refresh
                        :preloads [com.fulcrologic.fulcro.inspect.preload
                                   com.fulcrologic.fulcro.inspect.dom-picker-preload]}
   }}}
